@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

.music-item{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: column; 
    border-radius: 10px;
    border: 1px solid gray;
    text-align: center;
    flex: 1 0 22rem;
    margin: 1rem;
    padding: 1rem;
    animation: fadeUp 1s;
}

.cover-image{    
    width: 300px;
    height: 300px;
    object-fit: cover    
}

.music-item:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
}

@keyframes fadeUp {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.song-title{
    font-family: "Sigmar One",  cursive,"Source Sans Pro", Arial, sans-serif;;
    font-weight: normal;
    font-size: 0.5em;
    color: #900c3f;
}

.player-like-div{
    display: flex;  
    justify-content: space-between; 
}
.play-button,
.pause-button,
.like-button{
    border:none;
    justify-self: flex-start;
    background-color: transparent;
    color: #900c3f;
}
.player{
    align-self:flex-start;
    padding-right:12.5rem;
}

.play-button:hover,
.pause-button:hover
{
   cursor:pointer;
   color: green;
   transform: scale(1.1);
   transition: 0.2s;
}

@keyframes bounce{
	from { transform: translate3d(0, 0, 0);}
	to { transform: translate3d(0, 10px, 0);}
}

.like-button:hover{
    cursor:pointer;
    animation: bounce 0.1s;
    animation-direction: alternate;
    animation-iteration-count:5;
}


 